@keyframes signin_btn_colorslide {
    0%{
        background-image: linear-gradient(to right,var(--color1),0%,purple,#7424b5);

    }10%{
        background-image: linear-gradient(to right,var(--color1),10%,purple,#7424b5);

    }
    20%{
        background-image: linear-gradient(to right,var(--color1),20%,purple,#7424b5);

    }30%{
        background-image: linear-gradient(to right,var(--color1),30%,purple,#7424b5);

    }
    40%{
        background-image: linear-gradient(to right,var(--color1),40%,purple,#7424b5);

    }50%{
        background-image: linear-gradient(to right,var(--color1),50%,purple,#7424b5);

    }
    60%{
        background-image: linear-gradient(to right,var(--color1),60%,purple,#7424b5);

    }70%{
        background-image: linear-gradient(to right,var(--color1),70%,purple,#7424b5);

    }80%{
        background-image: linear-gradient(to right,var(--color1),80%,purple,#7424b5);

    }90%{
        background-image: linear-gradient(to right,var(--color1),90%,purple,#7424b5);

    }
    100%{
        background-image: linear-gradient(to right,var(--color1),100%,purple,#7424b5);
    }
}



.background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../components/Frontend/Images/Auth/background.png);
    background-size: 120% 100%;
    background-position: center;
}
.name{
    font-family: wonome;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}
.form_Container{
    position: absolute;
    width: 100%;
    top: 25%;
    border-radius: 20px;
    transition: left 1.5s linear;
    background-image: linear-gradient(to bottom right,#7823f688,0.0001%,#1d1827cc,97%,#ec19f888);
    padding: 0.2em;
    box-shadow: 1px 1px 2px inset #7823f688,-1px -1px 2px inset #ec19f888;
}

.form_signup_Container{
    position: absolute;
    width: 100%;
    display: none;
    transition: left 1.5s linear;
    left: -4000px;
    top: 5%;
    background-image: linear-gradient(to bottom right,#7823f688,0.0001%,#1d1827cc,97%,#ec19f888);
    padding: 0.2em;
    box-shadow: 1px 1px 2px inset #7823f688,-1px -1px 2px inset #ec19f888;
}

.signin_btn{
    color: white;
    background-image: linear-gradient(to right,var(--color1),0%,purple,#7424b5);
    font-size: 0.8rem;
    width: 80%;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function:ease-in;
    animation-fill-mode: forwards;
    display: block;
    margin-bottom: 0.4em;
    margin: auto;
    padding: 0.4em 0;
    border-radius: 1em;
    cursor: pointer;
    box-shadow: 1px 1px 4px black;
}
.signin_btn:hover{
    animation-name: signin_btn_colorslide;

}

@media screen and (min-width:320px) {
    .background{
        background-size: 100% 100%;
        
    }.name{
        font-size: 3rem;
    }
    .form_Container{
        width: 80%;
        margin-left: 10%;
        padding: 1.7em;


    }.signin_btn{
        height: 30px;
        width: 65%;
        font-size: 1.3rem;
        margin-top: 1.2em;
        margin-bottom: 1.2em;
    }.form_signup_Container{
        width: 80%;
        margin-left: 10%;
        padding: 1.7em;
    }
}
@media screen and (min-height:450px) {
    .form_signup_Container{
        top: 16%
    }
}

@media screen and (min-width:670px) {
    .name{
        font-size: 5rem;
    }
    .form_Container{
        width: 60%;
        margin-left: 20%;
        padding: 1.7em;
    }
    .signin_btn{
        height: 40px;
        width: 60%;
        font-size:2.1rem;
    }
}