@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: wonome;
  src: url(../components/Frontend/fonts/Auth/wonome.ttf);
}
:root{
  font-size: 8px;
  --color1:#73a7d9;
  --color2:#bc81ec;
  --color2dark:#7a28be;
  --gradient1:linear-gradient(to right,var(--color2),50%,cyan,transparent);
  --gradient1topdown:linear-gradient(to bottom,var(--color2dark),50%,cyan,transparent);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (min-width:320px) {
  .appleAuth_btn,.googleAuth_btn{
  width: 60%;
  font-size: 1.3rem;
}.textAuth_inp,.passAuth_inp{
  height: 35px;
  font-size: 1.5rem;
}
.genderFemaleAuth_btn,.genderMaleAuth_btn{
  width: 35%;
  height: 35px;
  font-size: 1.4rem;
}.termsAndAgreementContainer{
  width: 75%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;

}.termsAndAgreementContainer label,.termsAndAgreementContainer a,.swtichFormPrompt,.genderSelectPrompt{
font-size: 1.4rem;
line-height: 14px;
}

.signinAuth_btn{
height: 25px;
font-size: 1.3rem;
}
.appleIcon,.googleIcon{
  width: 17px;
}
.instruction{
  font-size: 1.3rem;
}

}


@media screen and (min-width:670px) {
  .appleAuth_btn,.googleAuth_btn{
    width: 60%;
    height: 55px;
    font-size: 2.2rem;
    margin-top: 1em;
    margin-bottom:1em;
  }
  .textAuth_inp,.passAuth_inp{
    height: 40px;
    font-size: 2rem;
    margin-top: 1.7em;
    margin-bottom: 1.7em;
  }
  .signinAuth_btn{
    height: 30px;
    margin-top: 1.7em;
    margin-bottom: 1.7em;
    font-size: 1.7rem;
  }.appleIcon,.googleIcon{
    width: 20px;
    margin-right: 0.6em;
  }
}
